.header {
    width: 100%;
    background-color: #a065ff;
    padding:  0 150px;
    font-weight: bold;
}

@media screen and (max-width:580px) {
    .header {
        padding:  0 10px;
    }
}
@media screen and (max-width:880px) and (min-width:581px){
    .header {
        padding:  0 50px;
    }
}